.categories{
  display: none;

}

.categories-list{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 100px 50px 30px 50px;
  list-style: none;
}

.category{
  border: 2px solid gray;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
}

.category-pic{
  width: 200px;
  height:200px;
  display:block;
  &:hover{
    opacity:0.6;
  }

}

.categories-info{
  padding: 10px;
  font-size: 30px;
}

@media (max-width: 800px){
  .category-pic{
    width:100px;
    height:100px;
  }
  .categories-info{
    font-size: 15px;
  }
}
