.categories{
  display: none;

}

.categories-list{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 80px;
  list-style: none;
}

.category{
  border: 2px solid gray;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;

}

.category-pic{
  width: 200px;
  height:200px;
  display:block;
  &:hover{
    opacity:0.6;
  }

}

.categories-info{
  padding: 10px;
  font-size: 30px;
  margin-bottom:100px;
}

.section-cnt{
display:flex;

}

@media (max-width: 830px){
  .categories-list{
    padding:40px;
  }
  .category-pic{
    width:150px;
    height:150px;
  }
  .categories-info{
    font-size: 15px;
  }
}

@media (max-width:600px){
  .category-pic{
    width:120px;
    height:120px;
  }
}
