
.intro-message{
  font-size: 70px;
  font-weight: 300;
  padding-top:170px;
  text-align: center;
}

.btn-intro{
  margin-left:20px;
  margin-right:20px;
  margin-top:30px;

}


.btn-intro.confirm, .btn-intro.decline{
  margin:20px 15px;
  padding: 25px 40px;
  font-size: 30px;
}

.btn-intro.confirm{
  animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  box-shadow: 0 0 0 0 rgba(50, 76, 0, 0.7);

}

@keyframes pulse {to {box-shadow: 0 0 0 11px rgba(232, 76, 61, 0);}}

@media (max-width: 900px){
  .intro-message{
    font-size: 50px;
  }
  .btn-intro.confirm, .btn-intro.decline{
    font-size:20px;
    padding:20px 30px;

  }
}


@media (max-width: 500px){
  .intro-message{
    margin-left: 20px;
    margin-right:20px;
    font-size: 25px;
  }

  .btn-intro.confirm, .btn-intro.decline{
    font-size:15px;
    padding:15px 25px;

  }
}