.subcatFour{
  display: none;
}


.subcatFourList{
  margin:0 10px 20px 10px;

}

.weatherItem{
  padding-top:10px;
  //padding-bottom: 15px;
  font-size: 25px;
}

input{
  padding:3px;
  font-size: 20px;
  color: $greenColor;

}

.checkBtn{
  margin-left:10px;
  padding:5px 10px;
  cursor:pointer;
  background-color: white;
  color:$greenColor;
  border: transparent;
  font-weight: 500;
  font-size:20px;

}

.finalInfo{
  font-size: 50px;
  opacity: 0;
  transition: 2s all;
}

@media (max-width: 800px){
  .weatherItem{
    font-size:20px;
  }
}