.section-one {
  display: none;
}

.section-one-list{
  list-style: none;
  line-height: 40px;
  font-size: 25px;
  padding: 0 100px 50px 100px;
  margin: 0 auto;

  li{
    padding-top:15px;
  }
}

.btn-true-false{
  display: inline-block;
  padding:10px 15px;
  background-color: $greenColor;
  border: none;
  color:#fff;
  font-size: 17px;
  margin-left:5px;
  margin-right: 5px;
  margin-top:10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.4s all;
  border-radius:20px;
  outline:none;
  cursor:pointer;
  &:hover{
    background-color: #fff;
    color:$greenColor;
  }

}

@media (max-width: 800px){
  .section-one-list{
    font-size:20px;
    padding: 0 50px 20px 50px;
  }
  .btn-true-false{
    padding:5px 8px;
    font-size: 12px;

  }
}

@media (max-width: 500px){
  .section-one-list{
    font-size: 15px;
    line-height:20px;
  }
}



