.section-two{
  display: none;
}

.section.section-two .row{
  margin-top:30px;
  margin-bottom:30px;

}

.section-two-list{
  list-style: none;
  line-height: 70px;
  font-size: 30px;

}

.col-8{
  margin-right:30px;
}



@media (max-width: 900px){
  .section-two-list{
    font-size:20px;
  }
}