.section-three{
  display: none;
}

.section-three-box{
  margin:20px 10px;
}

.weatherItem{
  padding-top:10px;
  padding-bottom: 15px;
  font-size: 20px;
}

.weatherText{
  padding:10px;
}

.weatherItem input{
  padding:3px;
  font-size: 20px;
  color: $greenColor;
  border-radius:10px;
  border:1px solid #d1d1d1;
  outline:none;
  width:100%;
  max-width:200px;
}

.checkBtn{
  margin-left:10px;
  padding:5px 10px;
  cursor:pointer;
  background-color: white;
  color:$greenColor;
  border: transparent;
  font-weight: 500;
  font-size:18px;

}

.finalInfo{
  font-size: 50px;
  opacity: 0;
  transition: 2s all;
  top:40%;
  position:absolute;
  left:50%;
  transform: translate(-50%);
}

@media (max-width: 800px){
  .weatherItem{
    font-size:15px;
  }
}

@media (max-width: 500px){
  .weatherItem{
    font-size:15px;
    padding:5px 15px;
  }
}