.section-four{
  display: none;
}

.slider ul{
  list-style: none;
}

.slider li{
  display: none;
}

.slider .visible{
  display: inline-block;
}

.sliderList{
  margin-bottom:10px;
}

.sliderList img{
  border:2px solid gray;
  margin-top:10px;
  width: 500px;
  height:420px;
  display:block;
  &:hover{
    opacity:0.6;
  }

}

#prevPicture, #nextPicture {
  background-color: #fff;
  color: red;
  border: none;
  margin-left: 10px;
  margin-right: 10px;

  i {
    color: $greenColor;
    font-size: 25px;
  }
}

.exercise{
  text-align: center;
  margin:30px 0;

}

.exercise-btn{
  display: inline-block;
  padding:10px 16px;
  background-color: $greenColor;
  border: none;
  color:#fff;
  font-size: 15px;
  cursor:pointer;
  text-decoration: none;
  font-weight: 600;
  transition: 0.4s all;
  border-radius: 10px;

  &:hover{
    background-color: #fff;
    color:$greenColor;
  }
}

@media (max-width:800px){
  .slider ul{
    padding-top:40px;
  }
  .sliderList img{
    width:300px;
    height:210px;
  }
}

@media (max-width:500px){
  .sliderList img{
    width:200px;
    height:110px;
  }

  .section-four{
    min-height:500px;
  }
}